name: Pull request integration testing

on: 
  pull_request:
    types: [synchronize]

jobs:
  test:
    name: 'Run integration tests'
    runs-on: ubuntu-latest
    services:
      nats:
        image: nats
        ports:
          - 4222:4222
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Install dependencies
        run: npm ci
      - name: Test the generated client
        run: npm run test:integration
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1